.slick-track{
    display: flex;
    align-items: flex-start;
}
.slick-slide{
    padding: 0 10px;
}
.slick-list{
    overflow: hidden;
}
.slider{
    position: relative;
    widows: 100%;; height:100%;
    margin: auto;
    z-index: 10;
}
.slick-arrow{
    position: relative;
    
    
    margin:20px 0px 0px 0px;
    z-index: 10;
    font-size:0;
    width: 50px;
    height: 50px;
    border-style:none;
    
}
.slick-arrow.slick-prev{
    left:44%;
    background: url('../images/prv.png') 0 0 / 100% no-repeat;
    border-style:none;
    outline-style:none;
}
.slick-arrow.slick-next{
    left:46%;
    background: url('../images/nxt.png') 0 0 / 100%  no-repeat;
    border-style:none;
    outline-style:none;
}
.slick-arrow.slick-disabled{
    opacity:0.2;
}
.slick-arrow.slick-next:hover{
    background: url('../images/nxt.png') 50% 50% / 90%  no-repeat;
}
.slick-arrow.slick-prev:hover{
    background: url('../images/prv.png') 50% 50% / 90%  no-repeat;
}    
.asd{
    background-color:#f6f8fa;
    border-radius: 10px; 
    width: 100%;; height:100%;
    display: -webkit-box;
    -webkit-line-clamp:7;
    -webkit-box-orient:vertical;
    overflow: hidden;
    margin:auto;
}
.asd:hover{
    background: #bfbfbf;
}
.slick-dots{
    display:flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    list-style:none;
    margin: 0px 10px;

}
.slick-dots button{
    font-size: 0;
    width:5px;
    height:15px;
    background-color:#f6f8fa;
    border-radius:50%;
}
.slick-dots li.slick-active button{
    background-color:transparent;
    border:1px solid #bfbfbf;
}
.das{
    width: 100%;
    border-radius: 5px;
    margin: 0px 0px 0px 0px; 
    
}
.qw:hover {
     text-decoration: none;
}










